body {
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: large;
}

header {
    background-color: darkslateblue;
    color: white;
    padding: 1em;
    width: 100%;
}

nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline;
    margin-right: 15px;
}
a {
    color: white;
    text-decoration: none;
}
.avatar {
    border-radius: 50%;
}

form input,form textarea {
    width: 100%;
    border-color: #dae4e9;
    border-radius: 0.25rem;
}
footer {
    
    background-color: darkslateblue;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 1rem;
    width: 100%;
}

main {
    max-width: 600px;
    margin: 0 auto;
}

#enviar {
    background-color: DarkSlateBlue;
    cursor: pointer;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: center;
    color: #fff;
    width: 100%;
    border-radius: 0.25rem;
  }

  #enviar:hover {
    background-color: #fff;
    color: DarkSlateBlue;
  }